{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h3>Histórico de Movimentações</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th>Tipo</th><th>Material</th><th>Qtd</th><th>Valor</th><th>Data</th><th>Colocou</th><th>Retirou</th><th>Equipe</th></tr>
    </thead>
    <tbody>
    {% for h in historico %}
      <tr>
        <td>{{ h[1] }}</td><td>{{ h[2] }}</td><td>{{ h[3] }}</td><td>{{ h[4] }}</td>
        <td>{{ h[5] }}</td><td>{{ h[6] }}</td><td>{{ h[7] }}</td><td>{{ h[8] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
